# Mock Belt Exam - Data Visualization Stack

# Part 1

**Download and unzip the zip file provided to you here: https://drive.google.com/file/d/1qszDl9TklrXD1kHuu7vtJXsEm2lwbIQ-/view?usp=share_link.
Unzip the files into your private repository.**

In [10]:
# imports
import joblib, sklearn
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# check version of sklearn
print(sklearn.__version__)

1.1.3

In [3]:
# # use cell if should revert to sklearn ver 1.1.3
# !pip install scikit-learn==1.1.3
# # restart kernel

**Load the provided joblib file. Display the .keys of the dictionary stored in the joblib file.**

In [4]:
# load joblib file
loaded = joblib.load('Data/saved_model.joblib')

# display keys of dict in joblib file
loaded.keys()

dict_keys(['preprocessor', 'X_train', 'X_test', 'y_train', 'y_test', 'LinearRegression', 'RandomForestRegressor'])

**Assign each of the keys from the dictionary as a separate variable.**

In [5]:
preprocessor = loaded['preprocessor']
X_train = loaded['X_train']
X_test = loaded['X_test']
y_train = loaded['y_train']
y_test = loaded['y_test']
LinearRegression = loaded['LinearRegression']
RandomForestRegressor = loaded['RandomForestRegressor']

**Use the preprocessor to transform the X_train/X_test data into processed dataframes. Replace the column names with the correct feature names extracted from the preprocessor.**

In [6]:
display(X_train.head())
display(X_test.head())

,fueltype,enginelocation,carlength,carwidth,carheight,curbweight,cylindernumber,horsepower,peakrpm,citympg,highwaympg
64,gas,front,177.8,66.5,55.5,2425,4,84,4800,26,32
32,gas,front,150.0,64.0,52.6,1837,4,60,5500,38,42
165,gas,front,168.7,64.0,52.6,2265,4,112,6600,26,29
39,gas,front,175.4,65.2,54.1,2304,4,86,5800,27,33
202,gas,front,188.8,68.9,55.5,3012,6,134,5500,18,23

,fueltype,enginelocation,carlength,carwidth,carheight,curbweight,cylindernumber,horsepower,peakrpm,citympg,highwaympg
101,gas,front,181.7,66.5,55.1,3095,6,152,5200,17,22
111,gas,front,186.7,68.4,56.7,3075,4,95,5000,19,24
142,gas,front,172.0,65.4,52.5,2190,4,82,4400,28,33
34,gas,front,150.0,64.0,52.6,1956,4,76,6000,30,34
27,gas,front,157.3,63.8,50.6,2191,4,102,5500,24,30

In [8]:
feature_names = LinearRegression.feature_names_in_

In [9]:
X_train_proc = pd.DataFrame(preprocessor.transform(X_train),
                            columns = feature_names,
                            index = X_train.index)
X_test_proc = pd.DataFrame(preprocessor.transform(X_test),
                           columns = feature_names,
                           index = X_test.index)

# check
display(X_train_proc.head())
display(X_test_proc.head())

,carlength,carwidth,carheight,curbweight,cylindernumber,horsepower,peakrpm,citympg,highwaympg,fueltype_gas,enginelocation_rear
64,177.8,66.5,55.5,2425.0,4.0,84.0,4800.0,26.0,32.0,1.0,0.0
32,150.0,64.0,52.6,1837.0,4.0,60.0,5500.0,38.0,42.0,1.0,0.0
165,168.7,64.0,52.6,2265.0,4.0,112.0,6600.0,26.0,29.0,1.0,0.0
39,175.4,65.2,54.1,2304.0,4.0,86.0,5800.0,27.0,33.0,1.0,0.0
202,188.8,68.9,55.5,3012.0,6.0,134.0,5500.0,18.0,23.0,1.0,0.0

,carlength,carwidth,carheight,curbweight,cylindernumber,horsepower,peakrpm,citympg,highwaympg,fueltype_gas,enginelocation_rear
101,181.7,66.5,55.1,3095.0,6.0,152.0,5200.0,17.0,22.0,1.0,0.0
111,186.7,68.4,56.7,3075.0,4.0,95.0,5000.0,19.0,24.0,1.0,0.0
142,172.0,65.4,52.5,2190.0,4.0,82.0,4400.0,28.0,33.0,1.0,0.0
34,150.0,64.0,52.6,1956.0,4.0,76.0,6000.0,30.0,34.0,1.0,0.0
27,157.3,63.8,50.6,2191.0,4.0,102.0,5500.0,24.0,30.0,1.0,0.0

# Explain the Linear Regression Model

In [11]:
# check that the number of coefficients is equal to the
# number of columns (feature names)
print(len(LinearRegression.coef_))
print(len(feature_names))

AttributeError: type object 'LinearRegression' has no attribute 'coef_'

In [14]:
coefs = pd.Series(LinearRegression.coef_, index = feature_names)

AttributeError: type object 'LinearRegression' has no attribute 'coef_'

In [13]:
LinearRegression.coef_

AttributeError: type object 'LinearRegression' has no attribute 'coef_'